html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://user-images.githubusercontent.com/84569428/119943115-2e3acc80-bfc5-11eb-8eac-5fd90fc69ed6.jpg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}